*.csv
*.json
*.log
*.pdf
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz
*.7z

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.pytest_cache
.ruff_cache
.vscode
.idea
.DS_Store

data/
docs/
tests/
venv/

*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints/*

__pycache__/
**/__pycache__/
